<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Selenium" parallel="classes">
    <test name="Tests" thread-count="5" parallel="classes">
        <classes>
            <class name="training.GoogleTest"/>
            <class name="training.RSATest"/>
        </classes>
    </test>
</suite>
